<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Arma3ModPresetLauncher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <Arma3ModPresetLauncher.My.MySettings>
            <setting name="NoSplashScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EmptyWorld" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoPause" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkipIntro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxMem" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MaxVRAM" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowScriptErrors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxMemEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxVRAMEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CPUCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="A3Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ExThreadsEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExThreads" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NoLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoFilePatching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchAction" serializeAs="String">
                <value>Nothing</value>
            </setting>
            <setting name="Windowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormLocation" serializeAs="String">
                <value>-1000, -1000</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>450, 620</value>
            </setting>
            <setting name="GroupSize" serializeAs="String">
                <value>450, 380</value>
            </setting>
            <setting name="FrmModLocationsSize" serializeAs="String">
                <value>262, 205</value>
            </setting>
            <setting name="CurrentPreset" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomMemoryAllocator" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomMemoryAllocatorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileNameEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunBattlEye" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomArgumentsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Arma3ModPresetLauncher.My.MySettings>
    </userSettings>
</configuration>